@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    background-color: #428bca;
}

.navbar-brand {
    font-size: 1.5em;
    color: #fff;
}

.navbar-brand span {
    color: #fff;
    font-weight: 300;
}

.navbar-brand a {
    margin-left: 5px;
    color: #fff;
}

.navbar,
.nav-link {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.navbar-nav>li>a {
    display: inline-block !important;
}

.dropdown-menu {
    z-index: 999;
}